<h1 class=""><%= @store.name() %></h1>

<h5 class="teal-text darken-2">Available Brands:</h5>
<div class="row">
  <div class="collection col s5">
    <% @store.brands().each() do |brand| %>
      <a class="collection-item black-text" href="/brands/<%= brand.id() %>"><%= brand.name() %></a>
    <% end %>
  </div>
</div>

<a class="amber-text" href="/">Back to Home</a><br>
<a class="orange-text" href="/stores">Back to all Stores</a>
<br><br>
<p class="">
  <a class="btn orange darken-1 hoverable" href="/stores/<%= @store.id() %>/edit">Edit</a>
  <form class="left" action="/stores/<%= @store.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button class="btn red darken-2 hoverable" type="submit" name="button">Delete</button>
  </form>
</p>
